<h1>Welcome</h1>

<p>We are currently working on your account.</p>

<form action="post" method="/">
    <p>Deposit <input type="number" name="deposit"></p>
    <p>Withdrawal <input type="number" name="deposit"></p>
    <input type="submit" value="submit">
</form>
<p><a href="/logout">Log Out</a></p>
